
.body-sebastopol{
    background-color: rgb(8, 8, 8);
}

.titulo-atelier{
    margin-top: 10rem;
    margin-left: 18rem;
    h2{
        color:whitesmoke;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 2;
    
    }
    @media screen and (max-width:600px) {
        margin-left: 5rem;
        
    }
}


.container-atelier{
    width: 70vw;
    margin: auto;
    margin-top: 5rem;


         .container-atelier-fotos1{
            img{
                 margin-top: 1rem;
            }
         }


         .container-atelier-fotos2{
          
          img{
            width: 70vw;
            margin-top: 1rem;

          }

         }

         .container-atelier-fotos3{
          outline: 1px solid red;
           margin-top: 1rem;

          display: flex;
          flex-direction: row;
          width: 70vw;
          justify-content: space-between;

          img{
            width: 30vw;
          }
         }

         .container-atelier-fotos4{

          outline: 1px solid blue;

          img{
            width: 70vw;
         margin-top: 1rem;
          }
         }

         .container-atelier-fotos5{
          outline: 1px solid rgb(82, 247, 6);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          img{
            width: 22vw;
            margin-top: 1rem;
          }

         }



.textos-atelier {
    margin-top: 2rem;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         word-spacing: 2px;
         line-height: 29px;

            .texto1-atelier{
            color: whitesmoke;
            width: 20vw;
            margin-top: 2rem;
            padding-top: 10rem;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 100;
   a{
    text-decoration: none;
     color: rgba(222, 224, 228, 0.596);
   }
            
                }

  .texto2-atelier{
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    width: 40vw;
    margin-top: 2rem;



  }     
  
 @media screen and (max-width:800px) {
    display: flex;
    flex-direction: column;
              .texto1-atelier{
                width: 80vw;
              }
              .texto2-atelier{
                width: 80vw;
              } 
    
  }


}

.texto-atelier-idiomas{

  margin-top: 4rem;


  .idioma{
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
  }

}



    
    

}