
.contacto {
width: 80%;
height: 50vh;
margin-top: 5vh;
margin-bottom: 1vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;

margin: auto;
align-items: center;

        .direccion{
     
      width: 25vw;
      color: antiquewhite;
                     a{
                          img{
                                background-color: rgb(157, 158, 158);
                                border-radius: 100px;
                             }
    }
   }

   .redes{
   
    
    
      a{
       
        img{
            border-radius: 50px;
            background-color: rgb(177, 171, 171);
            align-items: end;
            padding: 0.1rem;
            margin: 1rem;
        }
    }
   }

@media screen and (max-width: 500px)  {
    width: 80vw;
    height: 90vh;
   flex-direction: column;

   iframe{
    outline: 5px solid red;
    width: 80vw;
   
   
   }
   

    
   
  
   
    
}

}