.Body{
    background-color:black;
}


.offcanvas-backdrop{
    background-color: rgba(0, 0, 0, 0)  !important;
}


.logo-index{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
   img {
    width: 40vw;
   
}
}